/* skip 웹표준의 기본은 키보드만으로 메뉴에 다 들어갈수 있어야함*/
#skip {
    position: relative;
    z-index: 10000;
}
#skip a {
    position: absolute;
    left: 0; top: -100px;
    background: #000;
    color: #fff;
    padding: 20px 30px;
    display: inline-block;
}
#skip a:active,
#skip a:focus {
    top: 0;
}

/* layout */
#contents {}
#mainCont {
    padding-top: 80px;
}

#mainCont.gray {
    background-color: #eee;
}
/* container같은 존재 */
.content-article {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 100px 0;
}


/* header */
#header {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd;
    box-sizing: border-box; 
    background: #fff;
    /* border-box 왼쪽 오른쪽 짤리는거 막아줌 */
}
#header h1{
    text-transform: uppercase;
    padding: 20px;
}
#header h1 a{
    padding: 10px;
    margin: 10px;
}
#header h1 em{
    font-size: 16px;
}
#header nav li {
    display: inline;
}
#header nav li a{
    margin: 15px;
    padding: 10px 20px;
    display: inline-block;
    font-size: 16px;
}
#header .member{
    padding: 20px;
}
#header .member a{
    border: 1px solid #dddddd;
    padding: 7px 20px 6px;
    border-radius: 50px;
    transition: background 0.3s, color 0.3s;
}
#header .member a:hover {
    background: #000;
    color: #fff;

}
/* member-form */
.member-form {
    width: 600px;
    margin: 0 auto;
    border: 1px solid #dfdfdf;
    height: 1000px;
    background: #fff;
    padding: 60px 40px;
    box-sizing: border-box; /*패딩값을 width에 포함안시키고 700그대로하려면~!*/
}
.member-form h3 {
    font-size: 24px;
    margin-bottom: 30px;

}
.member-form .join-info {
    margin-bottom: 20px;
}
.member-form .join-info li {

}

.member-form .join-privacy {}