/*카드  타입 유형*/

/* cardType 01 */
body {
    background-color: #f3f3f3;
}

.cardType {
margin: 100px 0;
background-color: #fff;
box-shadow: 0 0 50px rgba(0,0,0,0.1);
}
.cardType01 {
    font-family: 'GmarketSans';
    padding: 100px 0;
}
.cardType01 h2 {
    font-weight: 500;
    font-size: 50px;
    background: 7px;
}
.cardType01 p {
    font-weight: 300;
    font-size: 26px;
    line-height: 1.28;
    margin-bottom: 40px;
}
/* float을 이용한 레이아웃 (익스플로어 10,9 맞춰야한다고하면 이거써야함 ㅠ)*/
/* .card-wrap {
    overflow: hidden;
}
.card-wrap > div {
    float: left;
    width: 387px;
    margin-right: 19px;
}
.card-wrap > div:last-child {
    margin-right: 0;
} */

/* flex를 이용한 레이아웃 */
.cardType01 .card-wrap {
    display: flex;
    justify-content: space-between;  
}
.cardType01 .card-wrap > div {
    width: 387px; 
}
.cardType01 .card .card-title {
    display: block;
    margin:5px 0 0 ;
    font-size: 32px;
     /* 한 줄 효과 */
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.cardType01 .card .card-desc {
    display: block;
    font-size: 20px;
    font-weight: 300;
    margin:5px 0 0 ;
     /* 두 줄 효과 */
    overflow: hidden;
    display: -webkit-box; /* 벤터 프리픽스 */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.cardType01 .card .card-keyword {
    font-size: 16px;
    font-weight: 300;
    opacity: 0.5;
}

/* cardType02 */

.cardType02 {
    font-family: 'S-CoreDream';
    padding: 150px 0;
}
.cardType02 h2 {
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}
.cardType02 p {
    font-size: 26px;
    font-weight: 300;
    text-align: center;
}
.cardType02 .card-wrap {
    display: flex;
}
.cardType02 .card {
    width: 285px;
    height: 319px;
    margin: 40px 20px 0 0;
    padding: 15px 15px 16px 14px;
    border-radius: 5px;
    border: solid 1px #e6e6e6;
}
.cardType02 .card-title {
    font-size: 24px;
    font-weight: 500;
    color: #000;
}
.cardType02 .card-desc {
    margin: 10px 0 6px 1px;
    font-size: 14px;
    font-weight: 300;
    /* 두줄 효과 */
    overflow: hidden;
    display: -webkit-box; 
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    /* //두줄 효과 */
}
.cardType02 .card-word span{
    margin: 10px 0 0 0px;
    padding : 4px 13px 4px 13px;
    font-size:10px;
    border-radius: 20px;
    border: solid 1px #000;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
}


/* cardType03 */

.cardType03 {
    padding: 100px 0 70px 0;
    font-family: 'NanumSquare';
    position: relative;
}
.cardType03 h2 {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 5px;
}
.cardType03 p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.28;
    margin-bottom: 50px;
}
.cardType03 .popular {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.28;
    position:absolute;
    right: 0; top: 180px;
}
.cardType03 .popular .red1 {
    color: red;
}
.cardType03 .card-wrap .card {
    margin-bottom: 28px;
}

.cardType03 .card-wrap .card .card-img{
    width: 285px;
    height: 185px;
    position: absolute;
}
.cardType03 .card-wrap .card .right {
    padding-left: 305px; 

}
.cardType03 .card-wrap .card .card-cate{
    font-size: 14px;
    font-weight: 800;
    padding: 4px 14px 3px 15px;
    color: #fff;
    border-radius: 20px;
    margin-bottom: 10px;
    display: inline-block;
}
.cardType03 .card-wrap .card .card-cate.red{
    background: #FF5151;
}
.cardType03 .card-wrap .card .card-cate.blue{
    background: #5465FF;
}
.cardType03 .card-wrap .card .card-cate.green{
    background: #11C865;
}
.cardType03 .card-wrap .card .card-title{
    display: block;
    font-weight: bold;
    font-size: 26px;
}
.cardType03 .card-wrap .card .card-desc{
    font-size: 16px;
    line-height: 1.53;
    color: #555;
    font-weight: 300;
    margin-top: 3px;
    display: -webkit-box; /* 벤터 프리픽스 */
    overflow: hidden; 
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.cardType03 .card-wrap .card .card-date{
    display: block;
    color: #555;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.4;
    text-decoration: underline;
    margin-top: 20px;
}
/* cardType04 clova*/
.cardType04 {
    padding: 100px 0;
    font-family: 'S-CoreDream';
}
.cardType04 h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 67px;
}
.cardType04 .card-wrap {
    display: grid;
    grid-template-columns: repeat(3,385px);
    gap:20px;
    justify-content: space-between;
}
.cardType04 .card-wrap > div {
    width: 385px;
}
.cardType04 .card-wrap .card {
    position: relative;
    
}
.cardType04 .card-wrap .card .card-cont{
    position: absolute;
    /*left:41px;
    bottom: 454px;*/
    transform: translate(15%,-600%);
    margin: 47px 23px 0 0;
}
.cardType04 .card-wrap .card .card-cont .card-tag{
    color: #A9A9A9;
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 500;
}
.cardType04 .card-wrap .card .card-cont .card-desc{
    font-weight: 600;
    font-size: 24px;
    line-height: 1.4;
    color: #000;

}
