body {
    background-color: #f3f3f3;
}

.imageType {
margin: 100px 0;
background-color: #fff;
box-shadow: 0 0 50px rgba(0,0,0,0.1);
}

/* imageType01 */

.imageType01 { 
    font-family: 'GmarketSans';
    padding: 100px 0;
}
.imageType01 h2 {
    font-weight: 700;
    font-size: 48px;
    padding: 0;
    margin: 0 0 50px 0;
}
/* .imageType01 .image-wrap {
    display: flex;
    justify-content: space-between;
    gap:20px
} */
.imageType01 .image-wrap {
    overflow: hidden;
}
.imageType01 .image {
    float: left;
    width: 590px;
    height: 385px;
    position: relative;
}
.imageType01 .image:first-child {
    margin-right: 20px;
}
.imageType01 .image .image-cont {
    position: absolute;
    left: 30px;
    bottom: 60px;
    color: #fff;
}
.imageType01 .image .image-title {
    font-size: 30px;
    font-weight: 500;
    padding: 0;
}
.imageType01 .image .image-desc {
    font-size: 14px;
    padding-right: 30%;
    line-height: 1.4;
    font-weight: 300;
    margin-top: 10px;
    
    display: inline-block;
    overflow: hidden;
    display: -webkit-box; 
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

}
.imageType01 .image .image-btn {
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    margin-top: 15px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 3px 6px;
}
.imageType01 .image .image-cont.s2 {
    background-color: rgba(12, 7, 26, 0.582);
    width: 400px;
    padding:20px
}
.imageType01 .image .image-cont.s2 .image-desc {
    padding-right: 0;;
}

/* imageType02 */
.imageType02 {
    font-family: 'GmarketSans';
    padding: 100px 0;
}
.imageType02 h2 {
    font-size: 48px;
    color: #7e0000;
    font-weight: 700;
    margin: 0 0 42px 0;
}
.imageType02 .image-wrap {
    display: flex;
    justify-content: space-between;
    gap:20px;
}
.imageType02 .image-wrap .image {
    position: relative;
}
.imageType02 .image-wrap .image .image-cont {
    position: absolute;
    width: 201px;
    height: 201px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    border-radius: 201px;
    top: 90px;
    right: 90px;
    bottom: 30px;
    
}
.imageType02 .image-wrap .image .image-title {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    position: absolute;
    top:43px;
}
.imageType02 .image-wrap .image .image-btn {
    text-align: center;
    display: inline-block;
    line-height: 20px;
    padding: 4px 11px;
    border: 1px solid #fff;
    border-radius: 20px;
    margin: 20px 50px 0 29px;
    position: absolute;
    top:119px;
    right:10px;
}

/* imageType03 */
.imageType03 {
    font-family:'GmarketSans';
    font-size: 14px;
    font-weight: 500;
    padding:94px 0 100px ;
}
.imageType03 h2 {
    font-weight: 700;
    font-size: 48px;
    padding: 0;
    margin: 0 0 42px 0;
}
.imageType03 .image-wrap {
    display: grid;
    grid-template-columns: repeat(4,285px);
    grid-template-rows: 285px;
    gap:20px
}
.imageType03 .image {
    position: relative;
}

.imageType03 .image-wrap .image:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.imageType03 .image-wrap .image .image-cont0 {
    background: #3f0b0baf;
    width: 489px;
    height: 149px;
    position: absolute;
    transform: translate(-110%, 260%);
    display: inline-block;
}
.imageType03 .image-wrap .image .image-cont0 .image-title {
    font-size: 48px;
    font-weight: 500;
    margin: 14px 18px 0px 18px;
    color: #fff;
    display: inline-block;
}
.imageType03 .image-wrap .image .image-cont0 .image-desc {
    color: #fff;
    font-size: 16px;
    margin: 0 20px 20px 20px;
    line-height: 1.56;
    display: inline-block;
    overflow: hidden;
    display: -webkit-box; 
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.imageType03 .image-wrap .image .image-cont {
    background: #3f0b0baf;
    height: 38px;
    position: absolute;
    transform: translate(15%, -170%);
}
.imageType03 .image-wrap .image .image-cont .image-title {
    font-size: 26px;
    margin: 10px 8px 5px;
    padding: 0;
    vertical-align: center;
    color: #fff;
    

}