/* sliderType */
body {
    background-color: #f3f3f3;
}

.sliderType {
margin: 100px 0;
background-color: #fff;
box-shadow: 0 0 50px rgba(0,0,0,0.1);
}
/* sliderType01 */
.sliderType01 {
    font-family: 'GmarketSans';
}
.sliderType01 .slider {
    color: #fff;
    position: relative;
}
.sliderType01 .slider .slider-inner {
    width: 1400px;
    margin: 0 auto;
}
.sliderType01 .slider .slider-inner em {
    font-family: 'NEXONLv1Gothic';
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 100px;
    display: block;
}
.sliderType01 .slider .slider-inner h3 {
    font-family: 'GmarketSans';
    font-size: 100px;
    font-weight: 300;
    line-height: 1.2;
    /*왼쪽으로 들여쓰기 -px 오른쪽 들여쓰기 +px*/
    text-indent: -8px;

}
.sliderType01 .slider .slider-inner p {
    font-family: 'NEXONLv1Gothic';
    font-size: 20px;
    font-weight: 300;
}
.sliderType01 .slider .slider-inner .btn {
    display: block;
    padding-bottom: 100px;
    margin-top: 260px;
}
/*width, height값 안먹힐때는 inline구조이니 block, inline-block 잘사용하자*/
.sliderType01 .slider .slider-inner .btn a {
    width: 200px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    font-family: 'NEXONLv2Gothic';
    font-size: 16px;
    font-weight: 500;
    margin-right: 7px;
}
.sliderType01 .slider .slider-inner .btn a.white{
    background: #fff;
    color: #000;
}
.sliderType01 .slider .slider-inner .btn a.black{
    background: #000;
    color: #fff;
}


.sliderType01 .slider .slicer-arrow a{
    width: 21px;height: 41px;
    display: block;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}
.sliderType01 .slider .slicer-arrow a.left{
    left: 25px;

}
.sliderType01 .slider .slicer-arrow a.right{
    right: 25px;
}
.sliderType01 .slider .slicer-dot {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 35px;
}
.sliderType01 .slider .slicer-dot a.dot {
    width: 15px; height: 15px;
    border: 3px solid #fff;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px;
    box-sizing: border-box;
} 
.sliderType01 .slider .slicer-dot a.dot.active {
    background-color: #fff;
}
.sliderType01 .slider .slicer-dot a.play {
    width: 13px;
    display: inline-block;
    margin: 0 8px;
} 
.sliderType01 .slider .slicer-dot a.stop {
    width: 9px;
    display: inline-block;
    margin-left: 10px;
} 

.sliderType01 .slider:nth-child(1) {
    background-image: url(../img/SLIDER-TYPE01.jpg);
    /*내가 맞춰준 사이즈에 나오는거 cover, no-repeat, 그리고 center하기*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    
}