@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
    background-image: url(../img/test-bg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: repeat 50%;
    font-family: 'NanumSquare';
    color: #fff;
    width: 100%;
}
#header {
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 10000;
    background: #232323c9;
}

#header .headerInner {
    vertical-align: middle;
    width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#header .headerInner .logoGif {
    width: 30px; height: 30px;
    display: inline-block;
    position: absolute;
    cursor: pointer;
    overflow: hidden;
    left: 40px;
    top: 35px;
}
.headerInner em {
    vertical-align: middle;
    font-family: 'GmarketSans';
    font-size: 16px;
    font-weight: 900;
    display: inline-block;
    position: absolute;
    left: 80px;
    top: 35px;
    line-height: 17px;
    
}
.headerInner span {
    justify-content: center;
    font-size: 18px;
    align-items: center;
    margin: 0 5px;
    padding: 38px 10px 0 20px;
    display: inline-block;
    text-align: center;
    margin: 0 10px;
}
.headerInner p {
    font-size: 14px;
    display: inline-block;
    padding: 8px 20px;
    border: solid 1px rgb(117, 117, 117);
    border-radius: 20px;
    text-align: right;
    position: absolute;
    right: 40px;
    top: 30px;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    position: relative;

}
.main {
    padding: 155px 50px 50px 0;
    text-align: left;
}
.main .mainTitle{
    font-family: 'GmarketSans';
    font-size: 70px;
    font-weight: 900;
    line-height: 1.2;
    padding: 0;

}
.main .mainCont{
    font-size: 44px;
    font-weight: 700;
    padding: 55px 0 25px;
}
.main .mainDesc{
    font-size: 23px;
    font-weight: 300;
    line-height: 44px;
    margin-bottom: 50px;
}
/*swiper*/
.swiper {
    margin-top: 70px;
    height: 410px;
    border-radius: 30px;
    position: absolute;

}
.swiper-wrapper .swiper-slide:nth-child(1) {
    background-image: url(../img/test-slider1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
.swiper-wrapper .swiper-slide:nth-child(2) {
    background-image: url(../img/test-slider2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
.swiper-wrapper .swiper-slide:nth-child(3) {
    background-image: url(../img/test-slider3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
.swiper-wrapper .swiper-slide:nth-child(4) {
    background-image: url(../img/test-slider4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
.swiper-wrapper .swiper-slide:nth-child(5) {
    background-image: url(../img/test-slider5.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
.swiper-wrapper .swiper-slide:nth-child(6) {
    background-image: url(../img/test-slider6.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
.swiper-wrapper{
    position: relative;
    
}
.swiper-slide .slider-inner{
    padding: 50px 80px;
}
.swiper-slide .slider-inner em{
    color: #ffffff99;
    font-size: 16px;
    font-weight: 800;
}
.swiper-slide .slider-inner h3{
    font-size: 35px;
    margin: 10px 0;
}
.swiper-slide .slider-inner p{
    font-size: 16px;
    font-weight: 800;
}
.swiper-pagination{
    position: absolute;
    right: 0;
}
.swiper-pagination {
    position: absolute !important;
    bottom: 52px;
    left: 50px;
    z-index: 1;
    display: block;
}
.swiper-pagination-bullets {

}
.swiper-pagination .swiper-pagination-bullet {
    
    width: 7px; height: 7px;
    border-radius: 50%;
    background-color: rgb(110, 110, 110);
}
.swiper-pagination .swiper-pagination-bullet-active {
    background-color: #fff;
}
/*main2*/
.main2 {
    font-family: 'Noto Sans KR';
    flex-wrap:nowrap;
    display: grid;
    grid-template-columns: repeat(2,496px); 
    overflow: hidden;
    margin-bottom: 150px;

}
.main2 .main-left {
    width: 496px;
    height: 1146px;
}
.main2 .main-right {
    width: 496px;
    height: 1146px;
    margin-left: 32px;
}
.main2Title {
    width: 496px;
    height: 204px;
    margin-bottom: 72px;
    display: inline-block;

}
.main2Title strong{

    font-size: 50px;
    font-weight: 700;
    color: #6d8bff;
    line-height: 68px;
    margin-bottom: 72px;
    padding: 0;
    letter-spacing: -1px;
}
.main2 .main2-1{
    width: 496px;
    height: 870px;
    background: #2F3133;
    border-radius: 20px;
    overflow: hidden;
}
.main2 .main2-1 img{
    margin-top: 30px;
    transform: scale(1);
    transition: opacity 0.4s,transform 0.45s;
}
.main2 .main2-1 img:hover{
    transform: scale(1.1);
}
.main2 .main2-2{
    width: 496px;
    height: 570px;
    background: #2F3133;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 35px;

}
.main2 .main2-2 img{
    margin-top: 50px;
    transform: scale(1);
    transition: opacity 0.4s,transform 0.45s;
}
.main2 .main2-2 img:hover{
    transform: scale(1.2);

}
.main2 .main2-3{
    width: 496px;
    height: 541px;
    background: #2F3133;
    border-radius: 20px;
    overflow: hidden;
    
}
.main2 .main2-3 img{
    justify-content: center;
    margin-top: 20px;
    width: 500px;
    transform: scale(1);
    transition: opacity 0.4s,transform 0.45s;
}
.main2 .main2-3 img:hover{
    transform: scale(1.1);

}
.main2 .main2-inner {
    padding: 50px 50px 0 50px;
    letter-spacing: -1.06px;
}
.main2 .main2-inner em{
    font-size: 16px;
    font-weight: 700;
    color: #ffffff99;
    
}
.main2 .main2-inner h3{
    font-size: 35px;
    font-weight: 500;
    margin-top: 10px;


}
.main2 .main2-inner p{
    font-size: 16px;
    color: #6d8bff;
    margin-top: 18px;
}

/*main3*/
.main3 {
    padding: 150px 0;
    font-family: 'Noto Sans KR';
    background: #1c1c1c;
    width: 100%;

}
.main3 .main3Inner{
    width: 1024px;
    align-items: center;
    margin: 0 auto;
}
.main3Inner h2 {
    font-size: 52px;
    line-height: 68px;
    font-weight: 700;
    color: #5cf0c6;
    text-align: center;
    margin-bottom: 70px;
    margin-top: 10px;
}
.main3-card {
    display: grid;
    grid-template-columns: repeat(2, 499px);
    gap: 32px;
}
.main3-card .main3-inner{

    padding: 40px 32px 0 50px;
    letter-spacing: -1.06px;
    float: left;
}
.main3-card .main3-inner em{
    font-size: 18px;
    font-weight: 600;
    color: #ffffff99;
}
.main3-card .main3-inner h3{
    font-size: 35px;
    font-weight: 500;
    letter-spacing: -1.06px;
}
.main3-card .main3-inner p:nth-first-child{
    color: #d1ffe6;
}
.main3-card .main3-inner p{
    margin-top: 24px;
    font-size: 16px;
    color: #5cf0c6;
    font-weight: 500;
}
.main3-card .main3-1 {
    width: 499px;
    height: 466px;
    display: inline-block;
    background: #59D1AB;
    border-radius: 20px;
    margin-right: 23px;
    overflow: hidden;
}
.main3-card .main3-1 img {
    margin-top: 42px;
    transform: scale(1);
    transition: opacity 0.4s,transform 0.45s;
}
.main3-card .main3-1 img:hover {
    transform: scale(1.1);
}
.main3-card .main3-2 {
    width: 499px;
    height: 466px;
    display: inline-block;
    background: #5470F8;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.main3-card .main3-2 img {
    padding-bottom: 100px;
    transform: scale(1);
    transition: opacity 0.4s,transform 0.45s;
}
.main3-card .main3-2 img:hover {
    transform: scale(1.1);
}
.main3-card .main3-3{
    display: inline-block;
    width: 1024px;
    height: 328px;
    background: #5644BA;
    border-radius: 20px;
    overflow: hidden;

}
.main3-card .main3-3 img {
    width: 604px;
    padding-top: 85px;
    justify-content: center;
    margin: 0 auto;
    transform: scale(1);
    transition: opacity 0.4s,transform 0.45s;

}
.main3-card .main3-3 img:hover{
    transform: scale(1.1);
}
/*main4*/
.main4 {
    background: #141414;
}
.main4 .main4Inner{
    box-sizing: border-box;
    background-image: url(../img/test-bg.png ) ;
    font-family: 'Noto Sans KR';
    padding: 135px 0;
    text-align: center;
    background-position: 50% 50%;
    background-size: auto 100%;
    background-repeat: repeat-x;

}
.main4 h2 {
    font-size: 34px;
    margin: 0 0 30px;
    font-weight: 500;
}
.main4 .search1 {
    font-size: 22px;
    background: #fff;
    color: #000;
    width: 340px;
    border-radius: 41px;
    display: inline-block;
    line-height: 80px;
    cursor: pointer;
}
.main4 .search1 em {
    font-weight: 500;
}
.main4 .search2 {
    font-size: 22px;
    background: #4b65f7;
    margin-left: 20px;
    width: 340px;
    border-radius: 41px;
    display: inline-block;
    cursor: pointer;
    line-height: 80px;
    
}
.main4 .search2 em {
    font-weight: 500;
}
footer {
    background: #000;
    text-align: center;
    padding-bottom: 50px;
    position: relative;

}
footer .copyright {
    font-family: 'Noto Sans KR';
    margin-top: 30px;
    font-size: 12px;
    color: #ffffff4d;
    font-weight: 100;
}
footer .top {
    color: #666;
    font-size: 14px;
    text-transform: uppercase;
    height: 34px;
    text-align: center;
    padding-top: 20px;
    border-bottom: 1px solid #323232;

}
footer .login {
    margin-top: 30px;
    font-size: 13px;
    color: #999;
    background: #323232;
    display: inline-block;
    padding: 5px 22px;
    border-radius: 4px;
    
}