@font-face {
    font-family: 'Eros Romano';
    src: url('ErosRomanoRegular.eot');
    src: url('ErosRomanoRegular.eot?#iefix') format('embedded-opentype'),
        url('ErosRomanoRegular.woff2') format('woff2'),
        url('ErosRomanoRegular.woff') format('woff'),
        url('ErosRomanoRegular.svg#ErosRomanoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:wght@100;200;300;400&display=swap');
@font-face {
    font-family: 'HY Body Regular';
    src: url('hy-body-sans.woff2') format('woff2'), url('hy-body-sans.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'HY Serif';
    src: url('hy-serif.woff2') format('woff2'), url('hy-serif.woff') format('woff');
    font-weight: 100;
    font-style: normal;
  }