* {
    margin: 0;
    padding: 0;
}
#wrap{
    width: 100%;
    color: #1f3d4d;
}
.noise {
    position: fixed;
    z-index: -1;
    pointer-events: none;
    top: 0;
    opacity: 0.75;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url(/portfolio/assets/img/noise-bg.jpg);
    background-repeat: repeat;
    background-position: top left;
}
#wrapper {
    width: 100vw;
    overflow: hidden;
}
.container {
    max-width: 72%;
    margin: 0 auto;
}
#header{
    /* border: 1px solid #000; */
    max-height: 110px;
    display: fixed;
    z-index: 1;
}
#header .headerInner{
    display: flex;
    justify-content: space-between;
}
.headerInner .fade{}
.headerInner .fade span{}
.headerInner .fade span{}
.headerInner .fade span div{
    display: inline;
    font-family: 'Eros Romano';
    font-size: 40px;
    letter-spacing: -3px;
}
.headerInner .fade .mr {
    margin-right: 15px;
}
.headerInner #nav{}
.headerInner #nav .fixed{}
.headerInner #nav .fixed span{
    display: inline-block;
    margin-top:20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin-left: 30px;
} 
.headerInner .hamburger{
    display: none;
}
.headerInner .hamburger span{}
#main{
    overflow: hidden;
}
#main .title{
    margin-top: 100px;
    position: relative;
}
#main .title h1{
    margin: 0;
    padding: 0;
    display: grid;
}
#main .title h1 strong{
    padding: 0;
    display: inline-block;
}
#main .title h1 .middle{
    display: inline-block;
    text-align:center;
}
#main .title h1 .right{
    padding: 0;
    display: inline-block;
    text-align: right;
}
#main .title h1 strong span{
    padding: 0;
    margin: 0;
    font-family: 'Eros Romano';
    font-size: 330px;
    line-height: 0.7;
    letter-spacing: 8.25px;
}
#main .title .spin {
    display: block;
    position: absolute;
    width: 30vw;
    height: 30vw;
    top:100%;
    left:-85%;
}
#main .title .spin .first{
    opacity: 0.5;
    transform: translate(-50%, -50%) rotate(15deg);
}
#main .title .spin .second{}
#main .title .spin .circleInner{}
#main .image {
    overflow: hidden;
    display: flex;
    gap: 15vw;
    justify-content: space-between;
}
#main .image .mainPic{
    width: 47vw;
}
#main .image .lake{
    width: 20vw;
    height: 27vw;
    margin-right: 7vw;


}
#section1{}
#section2{}
#section3{}