* {
    margin: 0;
    padding: 0;
    
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
#wrap{
    width: 100%;
    color: #1f3d4d;
    overscroll-behavior: none;
    -webkit-overflow-scrolling: touch;
}
.noise {
    mix-blend-mode:multiply;
    position: fixed;
    z-index: 1000;
    pointer-events: none;
    top: 0;
    opacity: 0.85;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url(/portfolio/assets/img/noise-bg.jpg);
    background-repeat: repeat;
    background-position: top left;
}
#wrapper {
    width: 100%;
    overflow: hidden;
}
.container {
    max-width: 86%;
    margin: 0 auto;
}

/* header */
#header{
    margin: 0 auto;
    max-height: 110px;
    justify-content: space-between;
    position: fixed; 
    width: 100%;
    left: 0%;
    top:auto;
    z-index: 5;
    
}
#header .headerInner{
    display: flex;
    justify-content: space-between;
}
.headerInner .fade{
    cursor: pointer;
}
.headerInner .fade span{
}
.headerInner .fade span div{
    display: inline;
    font-family: 'Eros Romano';
    font-size: 40px;
    letter-spacing: -3px;
}
.headerInner .fade .mr {
    margin-right: 15px;
}
.headerInner #nav{}
.headerInner #nav .fixed{}
.headerInner #nav .fixed span{
    display: inline-block;
    margin-top:20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin-left: 30px;
    position: relative;

} 
.headerInner #nav .fixed span::before{
    content:'';
    display: block;
    position: absolute;
    bottom: -0.25em;
    left:0;
    width: 100%;
    height: 1px;
    background-color: #204050;
    -webkit-transition: all 650ms cubic-bezier(0.135, 0.75, 0.32, 1);
    -webkit-transform: scaleX(0);
}
.headerInner #nav .fixed span:hover::before {
    -webkit-transform: scaleX(1);
}
.headerInner .hamburger{
    display: none;
}
.headerInner .hamburger span{}



/* Section About  */
#About .article1{
    overflow: hidden;
    margin-bottom: 15vh;
}
#About .article1 .dot {
    width: 1vw;
    height: 1vw;
    background: #1f3d4d;
    border-radius: 50%;
    position: fixed;
    top: 50%;
    left: 3%;

}
#About .article1 .title{
    margin-top: 100px;
    position: relative;
}
#About .article1 .title h1{
    margin: 0;
    padding: 0;
    display: grid;
}
#About .article1 .title h1 strong{
    padding: 0;
    display: inline-block;
}
#About .article1 .title h1 .middle{
    display: inline-block;
    text-align:center;
}
#About .article1 .title h1 .right{
    padding: 0;
    display: inline-block;
    text-align: right;
}
#About .article1 .title h1 strong span{
    padding: 0;
    margin: 0;
    font-family: 'Eros Romano';
    font-size: 18vw;
    line-height: 0.7;
    letter-spacing: 8.25px;
}
#About .article1 .title .spin {
    position: absolute;
    width: 28vw;
    height: 28vw;
    top:28%;
    left:55%;
}
#About .article1 .title .spin .first{
    opacity: 0.12;
    transform: translate(-50%, -50%) rotate(15deg);
}
#About .article1 .title .spin .second{
    opacity: 0.12;
    transform: translate(-50%, -150%) rotate(30deg);

}
#About .article1 .title .spin .circleInner{
    opacity: 0.7;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2vw;
    letter-spacing: 2px;
    transform: translate(-21%, -3250%);

}
#About .article1 .image {
    position: relative;
    display: flex;
    gap: 15vw;
    justify-content: space-between;
    height: 120vh;
}
#About .article1 .image .mainPic{
    width: 47vw;
    position: absolute;
    z-index: -1;
    top: -10%;
}
#About .article1 .image .lake{
    width: 25vw;
    height: 35vw;
    margin-right: 7vw;
    position: absolute;
    top: 40%;
    right:0;
    

}
#About .article1 .Cont1Desc {
    overflow: hidden;
}
#About .article1 .Cont1Desc .leftCircle{
    width: 35%;
    margin: 0;
    float: left;
    margin-right: 10%;
}
#About .article1 .leftCircle img{
}
#About .article1 .mainDescEng {
    float: left;
    width: 55%;
    margin-top: 5vh;
}
#About .article1 .mainDescEng h1{
    font-family: 'Gallient Regular';
    font-weight: normal;
    font-size: 3.2vw;
    letter-spacing: 5px;
}
#About .article1 .mainDescKr {
    left: -50%;
    top:-50%
}
#About .article1 .mainDescKr p{
    text-align: right;
    font-family: 'Chosunilbo_myungjo';
    font-size: 0.8vw;
    width: 38%;
}
#About .article2{
    position: relative;
    height: 200vh;
    width: 100%;
}
#About .article2 .title{
    display: flex;
}
#About .article2 .title h1{
    font-family: 'Eros Romano';
    font-size: 8vw;
    width: 60%;
    margin-left: 7%;
    line-height: 1.1;
    font-weight: normal;
    z-index: 4;
}
#About .article2 .title .sydney {
    position: absolute;
    right: 0;
    width: 55%;
}
#About .article2 .desc {
    float: right;
    width: 100%;
    margin-right: 7%;
    display: flex;
    margin-top: 60vh;
    gap: 13%;
}
#About .article2 .desc .empty {
    position: relative;
    width: 40%;
    text-align: right;

}
#About .article2 .desc .empty span {
    position: absolute;
    padding-top: 40vh;
    width: 80%;
    text-align: right;
    display: block;
    float: right;
    left: 40%;
}
#About .article2 .desc .right {
    width: 50%;
    font-family: 'Chosunilbo_myungjo';
}
#About .article2 .desc .right h2{
    font-size: 2vw;
    font-weight: 300;
}
#About .article2 .desc .right p{
    margin: 5vh 0;
    font-size: 1.3vw;
    font-weight: 300;
    line-height: 1.6;
}
#About .article2 .desc .right span {
    font-family: 'Gallient Regular';
    font-weight: normal;
    letter-spacing: 2;
    font-size: 1.3vw;
}
#About .article3{
    position: relative;
    margin-top: 30vh;
    height: 100vh;
}
#About .article3.transition {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#CFC9BB));
    background-image: linear-gradient(to bottom, #fff 100%, #CFC9BB 100%);
}
#About .article3 .title{
    position: relative;
    text-align: center;
    font-family: 'Eros Romano';
    font-size: 13vw;
    margin: 0 auto;
    line-height: 0.8;

}
#About .article3 .title::after {
    position: absolute;
    content: '';
    display: block;
    width: 10vw; height: 10vw;
    background: url(/portfolio/assets/img/circle3.png)no-repeat;
    background-size: cover;
    border-radius: 50%;
    top: 75%; left: 60%;
    z-index: -1
}
#About .article3 .imgCircle{
    display: block;
    position: absolute;
    width: 10vw; height:10vw;
    border-radius: 50%;
    z-index: -1;
}
#About .article3 .imgCircle.dot1{
    background: url(/portfolio/assets/img/circle1.jpg);
    background-size: cover;
    top: -10%; left: 20%;

}
#About .article3 .imgCircle.dot2{
    background: url(/portfolio/assets/img/circle2.png);
    background-size: cover;
    top: 19%; left: 80%;

}
/* #About .article3 .imgCircle.dot3{
    background: url(/portfolio/assets/img/circle3.png);
    top: 70%; left: 59%;
    background-size: cover;

} */
#About .article4{
    background-color: #CFC9BB;
    padding: 20vh 0 15vh;
    position: relative;
}
#About .article4 .moveWrap{
    margin: 0 auto;
    width: 40vw;
    margin-bottom: 40vh;

}
#About .article4 .moveWrap .mImg{
}
#About .article4 .moveWrap .mImg img{}
#About .article4 .mText{
    justify-content: space-between;
    font-family: 'Gallient Regular';
    position: absolute;
    display: flex;
    font-size: 34vw;
    top:30%;
    left: 12%; 
}
#About .article4 .mText .left{
    position: absolute;
    top: -70%;
    left: -20%;
}
#About .article4 .mText .right{
    display: block;
    position: relative;
    left: 180%;

}
#About .article4 .scrollDown{
    text-align: center;
}
#About .article4 .scrollDown .text {
    font-family: 'Eros Romano';
    margin-bottom: 5vh;
}
#About .article4 .scrollDown .text p{
    line-height: 0.8;
    font-size: 12vw;
}
#About .article4 .scrollDown span{
    font-family: 'Montserrat';
    font-size: 0.9vw;
    text-align: center;
    margin-top: 20vh;
    display: inline-block;
    margin: 0 auto;

}
#About .article4 .scrollDown span:after{
    content: '';
    display: block;
    width: 1vw; height: 2vw;
    background: url(/portfolio/assets/img/scrolldown.svg)no-repeat;
    background-size: cover;
}

/* section  Sites*/
#Sites {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0;
    overflow: hidden;
}
#Sites .cursor {
    display: block;
    position: absolute;
    z-index: 999;
    pointer-events: none;
    width: 5vw; height: 5vw;
    border-radius: 50%;
    background: #c8a887;
    margin: 0 auto;
    transition: transform 0.6s ease-in-out,
    opacity 0.2s ease-in-out;
}
#Sites .cursor span{
    margin: 0 auto;
    display: block;
    color: #e2e2e2;
    font-family: 'Montserrat';
    font-size: 1vw;
    font-weight: bold;
    font-stretch: normal;
    font-style: italic;
    line-height: 5vw;
    letter-spacing: normal;
    text-align: center;
}
#Sites .wrapper {
    position: relative;
    height: 100vh;
    width: 100vw;
    white-space: nowrap;
    font-size: 0;
    overflow:scroll;
}

#Sites .wrapper .obj {
    position: relative;
    height: 100vh;
}
#Sites .wrapper .desc {
    width: 50vw;
}
#Sites .active .picture {
    background: #fff;
}

#Sites .obj {
    display: inline-block;
    width: 50vw;
    margin-left: 20vw;
}

#Sites .obj:nth-of-type(1) {
    margin-left: 25vw;
}

#Sites .obj:nth-of-type(5) {
    margin-right: 25vw;
}
/* #Sites obj_5 {
    margin-right: 25vw;
} */

#Sites .cover {
    position: absolute;
    width: 100%;
    height: 70vh;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


#Sites .picture {
    position: absolute;
    width: 100%;
    height: 90%;
    transition: all 1s;
    display: flex;
    flex-direction: column;
}
#Sites .picture .desc {
    width: 100%;
    height: 10%;
    font-size: 0.7vw;
    font-family: 'Chosunilbo_myungjo';
    text-align: center;
}
#Sites .picture .media {
    width: 100%;
    height: 90%;
    -o-object-fit: cover;
    object-fit: cover;
}

#Sites .title {
    height: 10%;
    display: inline-block;
    font-size: 3vw;
    letter-spacing: 0.14vw;
    text-decoration: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    color: #1f3d4d;
    font-family: 'Eros Romano';
    position: absolute;
    margin: 0 auto;
    bottom: -10%;
    left:50%;
    transform: translateX(-50%);

}
#Sites .wrapper .sitesTitle {
    position: relative;
}
#Sites .wrapper .sitesTitle:before {
    font-family: 'Montserrat';
    position: absolute;
    display: inline-block;
    font-size: 1vw;
    width: 2vw; height: 2vw;
    color: #1f3d4d;
    left: -200px;
    top: 35%;
    content: '01';
}

#Sites .wrapper .sitesTitle:after {
    position: absolute;
}


/* Scripts */
#Scripts{
    background-color: #CFC9BB;
    height: 200vh;
}
#Scripts{}