* {
    margin: 0 auto;
    padding: 0 auto;
}
.container {
    width: 1130px;
    margin: 0 auto;

}
body{
    background-color: #EEEEEE;
}
#header {
    margin: 10vh 0 5vh 0;
    /* background-color: #fff; */
    text-align: center;
    font-size: 40px;
    font-weight: 900;
}
#header h1 {
    font-weight: bold;
}
#wrap {
    
}
#buttons {
    font-size: 16px;
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
}
.add {
    cursor: pointer;
    color: #69D1A2;
    padding: 8px 26px;
    background-color: #fff;
    display: inline-block;
    border-radius: 8px;
    margin-right: 10px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05);
}
.delete {
    cursor: pointer;
    color: #ED7470;
    padding: 8px 26px;
    border-radius: 8px;
    background-color: #fff;
    display: inline-block;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05);
}
#main {}
#lists {
    margin-top: 16px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;

}
.list {
    width: 350px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.list .inside .titleBox {
    display: inline-block;
    opacity: 50%;
    font-size: 22px;

}
.titleBox .title {
    width: 310px;
    font-size: 22px;
    margin: 35px 20px 10px;
    padding: 0;
    border:none;

}
.date {
    padding: 0 20px 20px 20px;
    color: #CCCCCC;
    border-bottom: 1px solid #E7E7E7;

}
.list .inside {
    padding: 15px 20px;
}
.list .listToDo {
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.listToDo .todoBox{
    display: flex;
    align-items: center;
}
.listToDo .todoBox .check {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    background: url(../checked.svg)no-repeat;
    margin: 0px 15px 0 0 ;
}
.listToDo .todo{
    font-size: 16px;
    color: #CCCCCC;
    border: none;
    padding: 0;
    margin: 0;
}
.listToDo .trash {
    display: inline-block;
    width: 26px; height: 26px;
    background: url(../trash.svg)no-repeat;
    cursor: pointer;
}
.addOrClose {
    cursor: pointer;
    position: absolute;
    left: 150px;
    bottom: -24px;
    width: 48px; height: 48px;
    background: url(../plusbutton.svg)no-repeat;
    border-radius: 48px;

}
.xbutton {
        cursor: pointer;
        position: absolute;
        left: 150px;
        bottom: -24px;
        width: 48px;
        height: 48px;
        background: url(../xbutton.svg)no-repeat;
        border-radius: 48px;
}