@charset "UTF-8";
/* 웹폰트 */
@font-face {
  font-family: 'NEXONLv1Gothic';
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'NEXONLv1Gothic';
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'NEXONLv1Gothic';
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'NEXONLv2Gothic';
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Light.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'NEXONLv2Gothic';
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'NEXONLv2Gothic';
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff") format("woff");
  font-style: normal;
}

/* 여백 초기화 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

/* 폰트 초기화*/
body,
button,
input,
select,
table,
textarea {
  font-size: 12px;
  line-height: 1.5;
  color: #222;
  font-family: var(--fontNexon1M), AppleSDGothicNeo-Regular, "Malgun Gothic", "맑은 고딕", dotum, "돋움", sans-serif;
}

/* a링크 초기화 */
a {
  color: inherit;
  text-decoration: none;
}

/* 목록 초기화 ol이거나 ul일때*/
ol,
ul {
  list-style: none;
}

/* 스타일 초기화*/
strong {
  font-weight: normal;
}

em {
  font-style: normal;
}

img {
  width: 100%;
}

.iphone main {
  padding: 10px;
}

.android main {
  padding: 10px;
}

.bg {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg::before {
  content: '';
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.bg.blue::before {
  background: rgba(24, 25, 42, 0.7);
}

.bg.brown::before {
  background-color: rgba(50, 37, 11, 0.9);
}

.bg1 {
  background-image: url(../img/bg1@X2.jpg);
}

.bg2 {
  background-image: url(../img/bg2@X2.jpg);
}

.bg3 {
  background-image: url(../img/bg3@X2.jpg);
}

.bg4 {
  background-image: url(../img/bg4@X2.jpg);
}

.bg5 {
  background-image: url(../img/bg5@X2.jpg);
}

.bg6 {
  background-image: url(../img/bg6@X2.jpg);
}

.bg7 {
  background-image: url(../img/bg7@X2.jpg);
}

.bg8 {
  background-image: url(../img/bg8@X2.jpg);
}

.bg9 {
  background-image: url(../img/bg9@X2.jpg);
}

.bg10 {
  background-image: url(../img/bg10@X2.jpg);
}

.bg11 {
  background-image: url(../img/bg11@X2.jpg);
}

.bg12 {
  background-image: url(../img/bg12@X2.jpg);
}

.bg13 {
  background-image: url(../img/bg13@X2.jpg);
}

.bg14 {
  background-image: url(../img/bg14@X2.jpg);
}

.bg15 {
  background-image: url(../img/bg15@X2.jpg);
}

.bg16 {
  background-image: url(../img/bg16@X2.jpg);
}

.bg17 {
  background-image: url(../img/bg17@X2.jpg);
}

.bg18 {
  background-image: url(../img/bg18@X2.jpg);
}

.bg19 {
  background-image: url(../img/bg19@X2.jpg);
}

.bg20 {
  background-image: url(../img/bg20@X2.jpg);
}

#main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #11e8bb;
  /* Old browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(#11e8bb), to(#8200c9));
  background: linear-gradient(to bottom, #11e8bb 0%, #8200c9 100%);
}

#main.game {
  background: -webkit-gradient(linear, left top, left bottom, from(#4facfe), to(#f8c5f8));
  background: linear-gradient(to bottom, #4facfe 0%, #f8c5f8 100%);
}

#main.game #contents h1 {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4facfe), to(#f8c5f8));
  background-image: linear-gradient(to bottom, #4facfe 0%, #f8c5f8 100%);
}

#main.menu {
  background: -webkit-gradient(linear, left top, left bottom, from(#dcb0ed), to(#85a887));
  background: linear-gradient(to bottom, #dcb0ed 0%, #85a887 100%);
}

#main.menu #contents h1 {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dcb0ed), to(#85a887));
  background-image: linear-gradient(to bottom, #dcb0ed 0%, #85a887 100%);
}

#main.mouse {
  background: -webkit-gradient(linear, left top, left bottom, from(#243949), to(#517fa4));
  background: linear-gradient(to bottom, #243949 0%, #517fa4 100%);
}

#main.mouse #contents h1 {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#243949), to(#517fa4));
  background-image: linear-gradient(to bottom, #243949 0%, #517fa4 100%);
}

#main.parallax {
  background: -webkit-gradient(linear, left top, left bottom, from(#f9d423), to(#e14fad));
  background: linear-gradient(to bottom, #f9d423 0%, #e14fad 100%);
}

#main.parallax #contents h1 {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9d423), to(#e14fad));
  background-image: linear-gradient(to bottom, #f9d423 0%, #e14fad 100%);
}

#main.slider {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff08f), to(#d299c2));
  background: linear-gradient(to bottom, #fff08f 0%, #d299c2 100%);
}

#main.slider #contents h1 {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff08f), to(#d299c2));
  background-image: linear-gradient(to bottom, #fff08f 0%, #d299c2 100%);
}

#contents h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Six Caps", sans-serif;
  font-size: 10vw;
  white-space: nowrap;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1vw;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8200C9), to(#b5d1ff));
  background-image: linear-gradient(to bottom, #8200C9, #b5d1ff);
}

#nav {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  bottom: 10px;
  top: auto;
}

#nav li {
  list-style: none;
  display: inline;
}

#nav li a {
  color: #fff;
  text-decoration: none;
  width: 80px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  text-align: center;
  margin: 4px;
  font-family: "NEXONLv1Gothic";
  -webkit-box-shadow: inset 0 0 0 #fff;
          box-shadow: inset 0 0 0 #fff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#nav li a:hover {
  -webkit-box-shadow: inset 0 -100px 0 #fff;
          box-shadow: inset 0 -100px 0 #fff;
  color: #6c4a70;
}

.info {
  position: absolute;
  left: 0;
  top: 0;
  font-family: "NEXONLv1Gothic";
  color: #fff;
  padding: 20px;
}

.info.right {
  left: auto;
  right: 0px;
}

.info.bottom {
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
}

.info.left {
  top: auto;
  left: 0;
  bottom: 0;
}

.info h1 {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.6;
  border-bottom: 1px dashed #fff;
  display: inline-block;
  margin-bottom: 10px;
}

.info h1 a {
  color: #fff;
  text-decoration: none;
}

.info p {
  font-size: 16px;
  font-weight: 300;
}

.info li {
  list-style: none;
  display: inline;
}

.info li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px dashed #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  margin: 3px;
}

.info li.active a {
  background: #fff;
  color: #000;
}

.info.list {
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  font-size: 12px;
  z-index: 1000;
  border-radius: 10px;
  line-height: 1.8;
  margin: 20px;
}

.info.list li {
  display: block;
}

.info button {
  background: transparent;
  border: 1px solid #fff;
  padding: 5px 20px;
  color: #fff;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 0 #fff inset;
          box-shadow: 0 0 0 #fff inset;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
  margin-top: 10px;
}

.info button:hover {
  -webkit-box-shadow: 0 -50px 0 #fff inset;
          box-shadow: 0 -50px 0 #fff inset;
  color: #000;
}

/* modal 클릭 애니메이션 태그*/
#modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  -webkit-transform: scale(0);
          transform: scale(0);
}

#modal .modal-bg {
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#modal .modal-bg .modal-cont h2 {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 20px;
}

#modal .modal-bg .modal-cont p {
  font-family: 'NEXONLv2Gothic';
  font-weight: 300;
  line-height: 1.6;
}

#modal .modal-bg .modal-cont button {
  border: 1px solid #000;
  background: #000;
  border-radius: 20px;
  color: #fff;
  padding: 5px 10px;
  float: right;
  cursor: pointer;
}

#modal.show {
  -webkit-animation: unfoldIn 1s ease forwards;
          animation: unfoldIn 1s ease forwards;
}

.source span {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgba(255, 255, 255, 0.575);
  padding: 5px 15px;
  border-radius: 15px;
  color: #000;
  cursor: pointer;
}

/* modal 클릭 애니메이션 태그*/
#paraModal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  -webkit-transform: scale(0);
          transform: scale(0);
}

#paraModal .modal-bg {
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#paraModal .modal-bg .modal-cont h2 {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 20px;
}

#paraModal .modal-bg .modal-cont p {
  font-family: 'NEXONLv2Gothic';
  font-weight: 300;
  line-height: 1.6;
}

#paraModal .modal-bg .modal-cont button {
  border: 1px solid #000;
  background: #000;
  border-radius: 20px;
  color: #fff;
  padding: 5px 10px;
  float: right;
  cursor: pointer;
}

#paraModal.show {
  -webkit-animation: unfoldIn 1s ease forwards;
          animation: unfoldIn 1s ease forwards;
}

#paraModal.show.hide {
  -webkit-animation: unfoldOut 1s ease forwards;
          animation: unfoldOut 1s ease forwards;
}

#paraModal.show .modal-bg .modal-cont {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: zoomIn 0.5s 0.8s ease forwards;
          animation: zoomIn 0.5s 0.8s ease forwards;
}

#paraModal.show.hide .modal-bg .modal-cont {
  -webkit-transform: scale(0);
          transform: scale(0);
}

@-webkit-keyframes unfoldIn {
  0% {
    -webkit-transform: scaley(0.005) scalex(0);
            transform: scaley(0.005) scalex(0);
  }
  50% {
    -webkit-transform: scaley(0.005) scalex(1);
            transform: scaley(0.005) scalex(1);
  }
  100% {
    -webkit-transform: scaley(1) scalex(1);
            transform: scaley(1) scalex(1);
  }
}

@keyframes unfoldIn {
  0% {
    -webkit-transform: scaley(0.005) scalex(0);
            transform: scaley(0.005) scalex(0);
  }
  50% {
    -webkit-transform: scaley(0.005) scalex(1);
            transform: scaley(0.005) scalex(1);
  }
  100% {
    -webkit-transform: scaley(1) scalex(1);
            transform: scaley(1) scalex(1);
  }
}

#modal.show.hide {
  -webkit-animation: unfoldOut 1s ease forwards;
          animation: unfoldOut 1s ease forwards;
}

@-webkit-keyframes unfoldOut {
  0% {
    -webkit-transform: scaley(1) scalex(1);
            transform: scaley(1) scalex(1);
  }
  50% {
    -webkit-transform: scaley(0.005) scalex(1);
            transform: scaley(0.005) scalex(1);
  }
  100% {
    -webkit-transform: scaley(0.005) scalex(0);
            transform: scaley(0.005) scalex(0);
  }
}

@keyframes unfoldOut {
  0% {
    -webkit-transform: scaley(1) scalex(1);
            transform: scaley(1) scalex(1);
  }
  50% {
    -webkit-transform: scaley(0.005) scalex(1);
            transform: scaley(0.005) scalex(1);
  }
  100% {
    -webkit-transform: scaley(0.005) scalex(0);
            transform: scaley(0.005) scalex(0);
  }
}

#modal.show .modal-bg .modal-cont {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: zoomIn 0.5s 0.8s ease forwards;
          animation: zoomIn 0.5s 0.8s ease forwards;
}

#modal.show.hide .modal-bg .modal-cont {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: zoomOut 0.5s ease forwards;
          animation: zoomOut 0.5s ease forwards;
}

@-webkit-keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes zoomOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes zoomOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.code-view {
  width: 60vw;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  background: #fff;
  overflow: hidden;
}

.code-view .view-header {
  border-bottom: 1px solid #f2f2f2;
}

.code-view .view-header .dot {
  padding: 13px 10px 10px 15px;
}

.code-view .view-header .dot span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 2px;
}

.code-view .view-header .dot span:nth-child(1) {
  background-color: #f56f56;
}

.code-view .view-header .dot span:nth-child(2) {
  background-color: #f6e05e;
}

.code-view .view-header .dot span:nth-child(3) {
  background-color: #48bb78;
}

.code-view .view-title {
  font-family: 'NEXONLv2Gothic';
  border-bottom: 1px solid #f2f2f2;
  padding: 0 11px;
}

.code-view .view-title li {
  display: inline;
  list-style: none;
}

.code-view .view-title li a {
  text-decoration: none;
  color: #cbd5E0;
  padding: 10px 10px 12px;
  margin: 0 5px;
  display: inline-block;
}

.code-view .view-title li.active a {
  border-top: 2px solid #667eea;
  color: #4a5568;
  font-weight: 700;
}

.code-view .view-cont {
  background: #f8f8f8;
  height: 450px;
  overflow-y: scroll;
}

.code-view .view-cont > div {
  display: none;
}

.code-view .view-cont > div:nth-child(1) {
  display: block;
}

@media (max-width: 800px) {
  #contents h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 18vw;
  }
  #nav {
    position: absolute;
    left: 50%;
    top: 80%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 18vw;
  }
  #nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
  }
  #nav li a {
    font-size: 13px;
    width: 60px;
    height: 30px;
    line-height: 30px;
  }
  .info.right {
    left: auto;
    right: 0px;
    top: 70px;
  }
  .code-view {
    width: 90vw;
  }
  #tab-menu {
    width: 90vw;
  }
  #tab-menu .tab-btn li a {
    font-size: 11px;
  }
}

.parallax {
  background: #222;
  color: #fff;
  font-family: 'NEXONLv1Gothic';
}

.paraScroll {
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  padding: 0 20px;
  text-align: center;
  font-size: 12px;
}

.paraInfo2 {
  position: fixed;
  left: 20px;
  bottom: 70px;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  font-size: 12px;
  border-radius: 10px;
  line-height: 1.8;
  z-index: 1000;
}

.paraInfo2 li {
  list-style: none;
}

.paranav {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.4);
  padding: 15px 20px;
  border-radius: 30px;
}

.paranav li {
  display: inline-block;
  list-style: none;
}

.paranav li a {
  padding: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  display: inline-block;
  line-height: 30px;
}

.paranav li.active a {
  background: #fff;
  color: #000;
  border-radius: 50%;
}

.paraInfo {
  padding: 20px;
}

.paraInfo h1 {
  display: inline-block;
  font-size: 20px;
  border-bottom: 1px dashed #fff;
  margin-bottom: 8px;
  font-weight: 400;
}

.paraInfo h1 a {
  color: #fff;
  text-decoration: none;
}

.paraInfo p {
  font-size: 14px;
  line-height: 1.8;
}

.paraCont {
  width: 100%;
  overflow: hidden;
  max-width: 1600px;
  margin: 0 auto;
}

.paraCont .content-item {
  width: 1000px;
  max-width: 70vw;
  margin: 30vw 0;
  padding-top: 10vw;
  text-align: right;
  position: relative;
}

.paraCont .content-item .num {
  font-family: 'Lato';
  font-weight: 100;
  font-size: 25vw;
  opacity: 0.07;
  position: absolute;
  right: -5vw;
  top: -10vw;
}

.paraCont .content-item .title {
  padding-bottom: 10px;
  font-weight: 700;
}

.paraCont .content-item .img-Wrap {
  width: 100%;
  padding-bottom: 56%;
  background: #000;
  position: relative;
  overflow: hidden;
}

.paraCont .content-item .img-Wrap .img {
  position: absolute;
  left: -10%;
  top: -10%;
  width: 120%;
  height: 120%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: saturate(0%);
          filter: saturate(0%);
  -webkit-transition: -webkit-filter 1s;
  transition: -webkit-filter 1s;
  transition: filter 1s;
  transition: filter 1s, -webkit-filter 1s;
}

.paraCont .content-item .img-Wrap .img:hover {
  -webkit-filter: saturate(100%);
          filter: saturate(100%);
}

.paraCont .content-item .desc {
  font-size: 5vw;
  line-height: 1.4;
  margin-top: -6vw;
  margin-right: -3vw;
  position: relative;
  z-index: 100;
  word-break: keep-all;
}

.paraCont .content-item:nth-child(even) {
  margin-left: auto;
  text-align: left;
}

.paraCont .content-item:nth-child(even) .num {
  right: auto;
  left: -5vw;
}

.paraCont .content-item:nth-child(even) .desc {
  margin-right: auto;
  margin-left: -3vw;
}

.content-item:nth-child(1) .img {
  background: url(../img/bg1.jpg) no-repeat;
  background-size: cover;
}

.content-item:nth-child(2) .img {
  background: url(../img/bg2.jpg) no-repeat;
  background-size: cover;
}

.content-item:nth-child(3) .img {
  background: url(../img/bg3.jpg) no-repeat;
  background-size: cover;
}

.content-item:nth-child(4) .img {
  background: url(../img/bg4.jpg) no-repeat;
  background-size: cover;
}

.content-item:nth-child(5) .img {
  background: url(../img/bg5.jpg) no-repeat;
  background-size: cover;
}

.content-item:nth-child(6) .img {
  background: url(../img/bg6.jpg) no-repeat;
  background-size: cover;
}

.content-item:nth-child(7) .img {
  background: url(../img/bg7.jpg) no-repeat;
  background-size: cover;
}

.content-item:nth-child(8) .img {
  background: url(../img/bg8.jpg) no-repeat;
  background-size: cover;
}

.content-item:nth-child(9) .img {
  background: url(../img/bg9.jpg) no-repeat;
  background-size: cover;
}

.paraFooter {
  padding: 200px 0;
}

.paraFooter h1 {
  font-size: 8vw;
  line-height: 1.2;
  padding: 10vw 8vw 0 8vw;
  text-transform: uppercase;
  margin-bottom: 3vw;
}

.paraFooter em {
  display: block;
  font-family: 'Lato';
  font-weight: 100;
  padding-left: 18vw;
}

.paraFooter .footerinfo {
  padding: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #000;
  padding: 15px 20px;
  margin-bottom: 2px;
}

.paraFooter .footerinfo h2 {
  padding-right: 20px;
}

.paraFooter .footerinfo li {
  display: inline;
  list-style: none;
}

.paraFooter .footerinfo li a {
  color: #fff;
  border: 1px dashed #fff;
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50%;
  line-height: 30px;
  text-decoration: none;
}

.paraFooter .footerinfo li.active a {
  background: #fff;
  color: #000;
}
