// #mainCont 
// #aboutCont 
// #referCont 
// #scriptCont 
// #portCont

// #mainCont 

/* main page*/
#mainBody{
    width: 100%;
    height: 100vh;
    background: url(../img/bg.jpg)no-repeat;
    background-size: cover;
    overflow: hidden;
    
    #mainCont { 
        position: relative;
        .bird {
            position: absolute;
            width: 45vw; 
            height: 45vw;
            border-radius: 50%;
            top: 7vh;
            left: 22vw;
            transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
            overflow: hidden;
    
            img {
                left: -7%; top: -7%;
                position: absolute;
                width: 115%;
                height: 115%;
                object-fit: cover;
                transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
    
            }
        }
        .wave {
            padding: 5vw 1.5vw 1.5vw 1.5vw;
            display: flex;
            position: absolute;
            width: 33vw;
            height: 36vw;
            left: 58vw; 
            background-color: #ccc1ba;
            .desc {
                width: 35%;
                margin-right: 1.5vw;
                h3{
                    color: #4b4b4b;
                    font-family: $font-sub;
                    font-size: 4vw;
                }
            }
            .wave_inner {
                position: relative;
                transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
                overflow: hidden;
                width: 20vw;
                height: 29.5vw;
                img {
                    margin-top: 8vw;
                    position: absolute;
                    width: 110%;
                    height: 110%;
                    object-fit: cover;
                    transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
                }
            }
        }
        .sea{
            padding: 1.5vw;
            display: flex;
            position: absolute;
            width: 33vw;
            height: 24vw;
            left: 48vw;
            top: 38vh;
            background-color: #9da9a5;
            justify-content: space-between;
            text-transform: uppercase;
            overflow: hidden;
            .img{
                background: url(../img/sea.jpg)no-repeat;
                background-size: cover;
                width: 60%;
                object-fit: cover;
                &:hover {
                    opacity: 0.8;
                }
            }
            .desc{
                width: 40%;
                font-family: $font-sub2;
                margin-left: 1.5vw;
                .menu{
                    color: #000;
                    margin-bottom: 14vw;
                    font-size: 1vw;
                    span{
                        display: block;
                        text-align: right;
                    }
                }
                .explore{
                    
                    span {
                        text-align: left;
                        font-size: 1.2vw;
                        position: relative;
                        &::after{
                            margin-left: 15px;
                            position: absolute;
                            content: '';
                            width: 89px;
                            height: 14px;
                            top:10px;
                            background: url(../img/arrow.svg)no-repeat;
                            background-size: cover;
                        }
                    }
                    display: inline-block;
    
                }
            }
        }
        .main__cont{
            flex-direction: column;
            flex-wrap: wrap;
            position: absolute;
            z-index: 1;
            height: 100vw;
            color: #000;
            font-family: 'Cinzel', serif;
            font-size: 6.5vw;
            line-height: 1;
            display: flex;
            text-transform: uppercase;
            top: 38vh;
            left: 2vw;
        }
        
        br {
            display: none;
        }
    }
}

@media (max-width:1100px){
    #mainCont { 
        
        .bird {
            width: 70vw; 
            height: 70vw;
            top: 30vw;
            left: 25vw;
    
        }
        .wave {
            padding: 8vw 1.5vw 1.5vw 1.5vw;
            width: 35vw;
            height: 60vw;
            left: 58vw; 

            .wave_inner {
                width: 20vw;
                height: 50.5vw;

            }
        }
        .sea{
            padding: 1.5vw;
            width: 50vw;
            height: 35vw;
            left: 33vw;
            top: 50vw;

            .desc{
                width: 40%;
                font-family: $font-sub2;
                margin-left: 1.5vw;

                .explore{
                    margin-top:11vw;
                    span {
                        font-size: 1.2vw;
                        &::after{
                            margin-left: 15px;
                            width: 89px;
                            height: 14px;
                            top:-2px;
                        }
                    }
                    display: inline-block;
    
                }
            }
        }
        .main__cont{
            font-size: 6.5vw;
            line-height: 1.3;
            top: 65vh;
            left: 4vh;
        }
        
        br {
            display: none;
        }
    }
}
@media (max-width:800px){
    #mainCont { 
        .bird {
            width: 85vw; 
            height: 85vw;
            top: 40vw;
            left: 10vw;
        }
        .wave {
            padding: 8vw 3vw 3vw 3vw;
            width: 50vw;
            height: 100vw;
            left: 45vw; 
            .desc {
                h3 {
                    display: none;
                }
            }
            .wave_inner {
                margin-top: 10vw;
                width: 40vw;
                height: 79vw;

            }
        }
        .sea{
            padding: 3vw;
            width: 60vw;
            height: 40vw;
            left: 28vw;
            top: 90vw;

            .desc{
                width: 40%;
                font-family: $font-sub2;
                margin-left: 3vw;

                .explore{
                    margin-top:9vw;
                    span {
                        font-size: 1.2vw;
                        &::after{
                            margin-left: 15px;
                            width: 60px;
                            height: 10px;
                            top:-2px;
                        }
                    }
                    display: inline-block;
    
                }
            }
        }
        .main__cont{
            font-size: 8vw;
            line-height: 1.5;
            top: 65vh;
            left: 4vh;
        }
        
        br {
            display: none;
        }
    }
}

/* about page */
#aboutBody{
    background-color:#F0EEEB;
    .about {
        margin: 0;
        padding: 0;

        .container{
            width: 1273px;
            margin: 0 auto;

            h2{
                margin-top: 174px;
                font-size: 144px;
                font-family: $font-main;
            }
            .aboutCont1 {
                font-size: 18px;
                width: 100%;
                margin-top: 263px;
                font-family: $font-kor1;

                .desc {
                    margin-top: 62px;
                    width: 66%;
                    
                    p {
                        margin-bottom: 30px;
                        line-height: 1.6;
                    }
                }
            }
            .aboutCont2 {
                width: 100%;
                margin-top: 282px;
                font-family: $font-kor1;
                display: flex;
                justify-content: space-between;
                font-size: 18px;


                .img {
                    width: 66%;
                    margin-right: 3%;
                }

                .desc {
                    width: 29%;
                    
                    p {
                        margin-bottom: 30px;
                        line-height: 1.6;

                    }
                }
                
            }
            .aboutCont3 {
                font-size: 18px;

                width: 100%;
                margin-top: 342px;
                font-family: $font-kor1;
                display: flex;
                justify-content: space-between;
                overflow: hidden;
                .desc {
                    float: left;
                    width: 40%;
                    
                    p {
                        margin-bottom: 30px;
                        line-height: 1.6;

                    }
                }
                
                .img {
                    display: inline-block;
                    width: 55%;
                    img {
                        float: right;
                        width: 100%;

                    }

                }

            }

        }
    }
    .aboutCont4 {
        z-index: 1000;
        text-align: center;
        padding: 260px 0;
        width: 100%;
        margin-top: 263px;
        background-color: #000;
        color: #fff;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        
        p{
            font-size: 20px;
        }
        h3{
            margin-top: 60px;
            font-family: $font-main;
            font-size: 144px;
        }
        span{
            margin-top: 60px;
            font-size: 20px;
            padding:1vw 3vw;
            border: 1px solid #fff;
            border-radius: 3vw;
            line-height: 1.8;
            display: inline-block;
        }
    }
    #footer {
        opacity: 0;
    }
}
@media(max-width:1100px){
    #aboutBody{
        .about {
            .container{
                width: 85%;
                margin: 0 auto;
                .aboutCont1 {
                    font-size: 16px;
                }
                .aboutCont2 {
                    font-size: 16px;
                    margin-top: 250px;
                    .desc {
                        width: 35%;
                        
                    }
                    
                }
                .aboutCont3 {
                    width: 100%;
                    margin-top: 342px;
                    font-size: 16px;

                    .desc {
                        width: 40%;
                        
                        p {
                            margin-bottom: 30px;
                            line-height: 1.6;
    
                        }
                    }
                }
            }
        }
        .aboutCont4 {
            padding: 230px 0;
            width: 100%;
            margin-top: 263px;
            color: #fff;
            box-sizing: border-box;
            font-family: 'Roboto', sans-serif;
            font-weight: 100;
            
            p{
                font-size: 18px;
            }
            h3{
                margin-top: 60px;
                font-family: $font-main;
                font-size: 100px;
            }
            span{
                margin-top: 60px;
                font-size: 18px;
                padding:1vw 3vw;
                border: 1px solid #fff;
                border-radius: 3vw;
                line-height: 1.8;
            }
        }
    }
}
@media(max-width:800px){
    #aboutBody{
        .about {
            .container{
                h2 {
                    font-size: 100px;
                }
                .aboutCont1 {
                    font-size: 14px;

                    .desc {
                        margin-top: 50px;
                        width: 100%;
                    }
                }
                .aboutCont2 {
                    display: block;
                    font-size: 14px;

                    .img {
                        width: 100%;
                        
                        img{
                            height: 40%;
                            background-size: cover;
                        }
                    }
                    .desc {
                        margin-top: 50px;
                        width: 100%;

                        
                    }
                    
                }
                .aboutCont3 {
                    width: 100%;
                    margin: 342px 0 200px;
                    font-size: 14px;
                    display: flex;
                    flex-direction: column-reverse;

                    .desc {
                        width: 100%;
                        margin-top: 50px;
                        width: 100%;
                        display: inline-block;

                        
                        p {
                            margin-bottom: 30px;
                            line-height: 1.6;
                        }
                    }
                    .img {
                        width: 100%;


                    }
                }
            }
        }
        .aboutCont4 {
            display: none;

        }
        #footer {
            opacity: 1;
        }
    }
}

